<?php
return  array(
    'url_white_list'    => array(
        '/api/index.php',
        '/api/test.php',
    ),
    'ip_white_list'     => array(
        '192.168.1.109',
        '127.0.0.1',
    ),
    'app_list'          => array(
        'select'    => array(
            'appId'    => 'dd51f30c317b42e0cdfe35d7a6f5e90f',
            'appKey'   => '4954bf507d89b803436d9647474eb8488bd4143f',
        ),
    ),
    'api_list'          => array(
        'select'    => array(
            'sku'                           => 'http://sansan.xuanhuo.com/api/production_tools/goods.php',
            'spu'                           => 'http://sansan.xuanhuo.com/api/production_tools/spu.php',
            'spu_goods'                     => 'http://sansan.xuanhuo.com/api/production_tools/spu_goods.php',
            'spu_update'                    => 'http://dalei.wholesale.select.kuandd.com/api/product/spu_status.php',
            'pl_spu_update'                 => 'http://dalei.piling.kuandd.com/api/spu.php',
            'pl_sales_quotation_log_file'   => 'http://dalei.piling.kuandd.com/api/quotation.php',
            'sales_quotation_log_file'      => 'http://dalei.wholesale.select.kuandd.com/api/quotation.php',
            'sales_order_status'            => 'http://dalei.wholesale.select.kuandd.com/api/order_sync.php',
            'pl_sales_order_status'         => 'http://dalei.piling.kuandd.com/api/order_sync.php',
            'spec_value'                    => 'http://dalei.wholesale.select.kuandd.com/api/spec_value_data.php',
            'pl_spec_value'                 => 'http://dalei.piling.kuandd.com/api/spec_value_data.php',
        ),
    ),
);