<?php
/**
 * 授权
 */
return  array(
    'white_list'        => array(
        '/login.php',
        '/do_login.php',
        '/logout.php',
    ),
    'white_list_api'    => array(
        'SaleMan.getAll',
        'AuPrice.getNewPrice',
        'Customer.getAll',
        'Category.getAll',
        'Style.getAll',
        'Spec.getAll',
        'Order.create',
        'Order.getByIdList',
        'Order.getByMultiOrderId',
        'Order.listOrderByCondition',
        'SalesQuotation.getSalesQuotationFile',
        'SalesQuotation.success',
        'Spu.getByMultiSn',
        'Spu.getSkuMulti',
        'Sku.getBySourceCodeByMultiSn',
        'Sku.getByMultiSn',
        'SalesOrder.getByMultiSn',
        'Spec.getSpecValueAll',
        'Order.editOrderStatus',
        'Spu.getValuationTypeByListSpuId'
        'Sku.getValuationTypeByListGoodsId'
    ),
    'white_list_host'   => array(
        '127.0.0.1',
    ),
);
