<?php
/**
 * 授权
 */
return  array(
    'white_list'    => array(
        '/login.php',
        '/do_login.php',
        '/logout.php',
    ),
    'white_list_api'=> array(
        'SaleMan.getAll',
        'AuPrice.getNewPrice',
        'Customer.getAll',
        'SalesQuotation.getSalesQuotationFile',
        'SalesQuotation.success',
        'Category.getAll',
        'Style.getAll',
        'Spec.getAll',
        'Order.create',
        'Order.getByIdList',
    ),
);
