<?php
/**
 * 全局配置文件
 */

define('ROOT', str_replace('\\', '/', realpath(dirname(__FILE__) . '/../')));
define('LIB', ROOT . '/lib/');
define('MODULE', ROOT . '/module/');
define('CONF', ROOT . '/config/');
define('LOG', ROOT . '/logs/');
define('TEMP', '/tmp/product/');
define('TIME_ZONE_DEFAULT', 'Asia/Shanghai');
define('QUOTATION_IMPORT', '/home/shuishou/project/product.kuandd.com/data/quotation/');
define('EXCEL_EXPORT_DIR','/home/shuishou/project/product.kuandd.com/data/sales_quotation/');

//code
define('CODE_SUCCESS', 0);

define('CODE_SYSTEM_ERROR_FILE', 203000000);
define('CODE_SYSTEM_ERROR_DATABASE', 202000000);
define('PLUS_COST', 2);
define('CODE_SYSTEM_ERROR_LOGIC', 205000000);

define('SOURCE_IMAGE_UNZIP_PATH' , '/home/shuishou/product_image/SOURCE');
define('SOURCE_IMAGE_TMP' , '/home/shuishou/product_image/image_tmp/');
define('SPU_IMAGE_TMP' , '/home/shuishou/product_image/image_tmp/');
define('SPU_IMAGE_UNZIP_PATH' , '/home/shuishou/product_image/SPU');
define('FRONTEND_DOMAIN', '*');


