<?php
/**
 * 数据同步日志文件
 */
return  array(
    'sync_dir_path' => '/home/vagrant/Code/local.prod.kuandd.com/data/sync/',
    'log_file_path' => array(
        'spu_info'      => '/home/vagrant/Code/local.prod.kuandd.com/data/sync/spu_info.log',
    ),
);
